# Data Science Concepts

For next examples pandas must be installled:

```
pip install pandas
```

In [1]:
import pandas as pd

## Computer Skills

### Read CSV 

What is CSV:

CSV = Comma Separeted Values

### Relative vs Absolute Paths

Absolute Path
'C:\users\nemsys\tmp'  #  windows
'/home/nemsys/tmp'     # linux/macOS

## Analyze data

### Load csv into DataFrame

In [19]:
df = pd.read_csv('../datasets/google_ads_mock.csv')
df['Date'].sort_values()

3     04.01.2023
0     2023-01-01
1     2023-01-02
2     2023-01-03
4     2023-01-05
5     2023-01-06
6     2023-01-07
7     2023-01-08
8     2023-01-09
9     2023-01-10
10    2023-01-11
11    2023-01-12
12    2023-01-13
13    2023-01-14
14    2023-01-15
15    2023-01-16
16    2023-01-17
17    2023-01-18
18    2023-01-19
19    2023-01-20
Name: Date, dtype: object

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/geekcourses/ML_SA_Labs/2_ML_SA/datasets/drinks.csv')
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,Ecuador
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [11]:
max_wine = df['wine_servings'].max()
df[df['wine_servings']==max_wine]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
61,France,127,151,370,11.8,EU

### Visualize data

In [17]:
df.groupby('continent')['wine_servings'].max().sort_values()

continent
AS         123
OC         212
SA         221
AF         233
Ecuador    312
EU         370
Name: wine_servings, dtype: int64

Data:               22
Information:        22C
Knowledge:          January is the coldest month in EU