In [22]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [19]:
df = pd.DataFrame(
    {
        'description': [
            'banana orange',
            'bananas the apples',
            'apple an Banana! top234'
        ]
    }
)
df

               description
0            banana orange
1       bananas the apples
2  apple an Banana! top234

In [20]:
vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1, 1))
vectorizer.fit(df['description'])

df['description_vectorized'] = list(vectorizer.transform(df['description']).toarray())
df

               description                             description_vectorized
0            banana orange  [0.0, 0.0, 0.6053485081062916, 0.0, 0.79596054...
1       bananas the apples  [0.0, 0.7071067811865476, 0.0, 0.7071067811865...
2  apple an Banana! top234  [0.6227660078332259, 0.0, 0.4736296010332684, ...

In [21]:
vectorizer.get_feature_names_out()

array(['apple', 'apples', 'banana', 'bananas', 'orange', 'top234'],
      dtype=object)

In [28]:
# Fit the vectorizer and transform the text data
X_tfidf = vectorizer.fit_transform(df['description'])
X_tfidf.toarray()

array([[0.        , 0.        , 0.60534851, 0.        , 0.79596054,
        0.        ],
       [0.        , 0.70710678, 0.        , 0.70710678, 0.        ,
        0.        ],
       [0.62276601, 0.        , 0.4736296 , 0.        , 0.        ,
        0.62276601]])

In [29]:
# Convert sparse matrix to DataFrame
X_tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=vectorizer.get_feature_names_out())

X_tfidf_df

      apple    apples    banana   bananas    orange    top234
0  0.000000  0.000000  0.605349  0.000000  0.795961  0.000000
1  0.000000  0.707107  0.000000  0.707107  0.000000  0.000000
2  0.622766  0.000000  0.473630  0.000000  0.000000  0.622766