In [1]:
import pandas as pd
import numpy as np

In [2]:
test_df = pd.DataFrame(
    {
        'A': [1,2,3],
        'B': [4,5,6],
    },
    index=['a','b','c']
)
test_df

   A  B
a  1  4
b  2  5
c  3  6

In [10]:
# task: get index of max value in A
s = test_df['A']
test_df[test_df['A']==s.max()].index[0]

'c'

In [11]:
s.idxmax()

'c'

In [16]:
test_df.reset_index()

  index  A  B
0     a  1  4
1     b  2  5
2     c  3  6

In [17]:
test_df

   A  B
a  1  4
b  2  5
c  3  6

In [21]:
def foo(row):
    return np.sqrt(row)

test_df.apply(foo, axis=0)

          A         B
a  1.000000  2.000000
b  1.414214  2.236068
c  1.732051  2.449490

In [22]:
test_df.apply(lambda row:np.sqrt(row), axis=0)

          A         B
a  1.000000  2.000000
b  1.414214  2.236068
c  1.732051  2.449490