In [8]:
import pandas as pd
import numpy as np
import datetime

# ETL Basics

Extract->Transform->Load

## Extract

In [9]:
facebook_ads = pd.read_csv('https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/Notebooks/ETL/datasets/facebook_ads.csv')
google_ads = pd.read_csv('https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/Notebooks/ETL/datasets/google_ads.csv')

In [10]:
facebook_ads.head()

         date  impressions  clicks   spent
0  01/21/2023         9374     283  380.13
1  03/13/2023         6496     850  201.62
2  03/29/2023         9267     251  422.72
3  04/10/2023          289     786  230.38
4  04/13/2023         1284     828  308.90

In [11]:
google_ads.head()

         Date  Impressions  Clicks    Cost
0  21/06/2023         2834     355  203.62
1  02/05/2023         7949     610  111.89
2  03/08/2023         2147     325  288.17
3  04/10/2023         3656     464  423.82
4  05/11/2023         1999     349  170.00

In [20]:
date_str = '21/06/2023'

try:
    date_obj = datetime.datetime.strptime(date_str,'%d/%m/%y')
except:
    print('Wrong format')


date_str_other_format = datetime.datetime.strftime(date_obj,'%m/%d/%Y')
date_str_other_format

Wrong format

'06/21/2023'

In [22]:
def standardize_date(date_string, input_formats, output_format='%Y-%m-%d'):
    """
        Attempts to convert a date string from various formats to a standardized format.

        Args:
            date_string (str): The date string to standardize.
            input_formats (list): A list of strings representing date formats to attempt.
            output_format (str): The target format for the standardized date string. Defaults to '%Y-%m-%d'.

        Returns:
            str or None: The standardized date string, or None if the date_string cannot be parsed.
    """
    for input_format in input_formats:
        try:
            parsed_date = datetime.datetime.strptime(date_string, input_format)
            return parsed_date.strftime(output_format)
        except ValueError:
            continue  # Try the next format

    # All formats failed; consider logging this or raise error
    print(f"Warning: Unable to parse date string '{date_string}' with given formats.")
    return None


# Define date formats to attempt parsing with
input_formats = ["%m/%d/%Y", "%d/%m/%Y", "%Y.%m.%d", "%B %d, %Y"]
date_str = '21/06/2023'

date_standardize = standardize_date(date_str, input_formats)
date_standardize

'2023-06-21'