In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree,metrics

from IPython.display import Image, display

Task:
Outlook: Overcast
Humidity: High
Wind: Strong

Will John play tennis?

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/Notebooks/supervised_learning_algorihtms/decision_trees/play_tennis/play_tennis_data.csv')
df.sort_values(by=['Outlook','Humidity','Wind'], inplace=True)
df

     Outlook Humidity    Wind Play
11  Overcast     High  Strong  Yes
2   Overcast     High    Weak  Yes
6   Overcast   Normal  Strong  Yes
12  Overcast   Normal    Weak  Yes
13      Rain     High  Strong   No
3       Rain     High    Weak  Yes
5       Rain   Normal  Strong   No
4       Rain   Normal    Weak  Yes
9       Rain   Normal    Weak  Yes
1      Sunny     High  Strong   No
0      Sunny     High    Weak   No
7      Sunny     High    Weak   No
10     Sunny   Normal  Strong  Yes
8      Sunny   Normal    Weak  Yes

In [8]:
split_by_Outlook = df.groupby('Outlook')
split_by_Outlook.get_group('Overcast')

     Outlook Humidity    Wind Play
11  Overcast     High  Strong  Yes
2   Overcast     High    Weak  Yes
6   Overcast   Normal  Strong  Yes
12  Overcast   Normal    Weak  Yes

In [11]:
split_by_Outlook.get_group('Rain').sort_values(by='Play')

   Outlook Humidity    Wind Play
13    Rain     High  Strong   No
5     Rain   Normal  Strong   No
3     Rain     High    Weak  Yes
4     Rain   Normal    Weak  Yes
9     Rain   Normal    Weak  Yes

In [12]:
split_by_wind = split_by_Outlook.get_group('Rain').groupby('Wind')
split_by_wind.get_group('Strong')

   Outlook Humidity    Wind Play
13    Rain     High  Strong   No
5     Rain   Normal  Strong   No

In [10]:
split_by_Outlook.get_group('Sunny')

   Outlook Humidity    Wind Play
1    Sunny     High  Strong   No
0    Sunny     High    Weak   No
7    Sunny     High    Weak   No
10   Sunny   Normal  Strong  Yes
8    Sunny   Normal    Weak  Yes

# Entropy:

H(X)=−∑i=1nP(xi)log2P(xi)

Coin Toss
{H, T}, n = 2
P(H) = 0.5 
P(T) = 0.5

H(X) = -(P(H)*log2(P(H))+P(T)*log2(P(T)))
H(X) = -(P(H)*log2(P(H))+P(T)*log2(P(T)))

In [13]:
import numpy as np

p_h = 0.5
p_t = 0.5

-(p_h*np.log2(p_h)+p_t*np.log2(p_t))

1.0