In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold

In [11]:
df = pd.DataFrame({
    'F1':np.array(range(100,125)),
    'F2':np.array(range(200, 225))
})
df.head()

    F1   F2
0  100  200
1  101  201
2  102  202
3  103  203
4  104  204

In [18]:

kf = KFold(n_splits=5, shuffle=True)
splits = kf.split(df)


for split in splits:
    train_data = df.iloc[split[0]]
    test_data = df.iloc[split[1]]
    print('~'*30, 'Split:')
    print(train_data)
    print(test_data)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Split:
     F1   F2
1   101  201
2   102  202
3   103  203
4   104  204
8   108  208
9   109  209
10  110  210
11  111  211
12  112  212
13  113  213
14  114  214
15  115  215
16  116  216
18  118  218
19  119  219
20  120  220
21  121  221
22  122  222
23  123  223
24  124  224
     F1   F2
0   100  200
5   105  205
6   106  206
7   107  207
17  117  217
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Split:
     F1   F2
0   100  200
1   101  201
2   102  202
4   104  204
5   105  205
6   106  206
7   107  207
8   108  208
9   109  209
10  110  210
11  111  211
12  112  212
13  113  213
17  117  217
18  118  218
19  119  219
21  121  221
22  122  222
23  123  223
24  124  224
     F1   F2
3   103  203
14  114  214
15  115  215
16  116  216
20  120  220
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Split:
     F1   F2
0   100  200
3   103  203
4   104  204
5   105  205
6   106  206
7   107  207
8   108  208
10  110  210
11  111  211
13  113  213
14  114  214
15  115  215
16  116  216
17  117  217
18  118  218
19  119  219
20  120  220
21  121  221
23  123  223
24  124  224
     F1   F2
1   101  201
2   102  202
9   109  209
12  112  212
22  122  222
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Split:
     F1   F2
0   100  200
1   101  201
2   102  202
3   103  203
5   105  205
6   106  206
7   107  207
9   109  209
10  110  210
11  111  211
12  112  212
13  113  213
14  114  214
15  115  215
16  116  216
17  117  217
18  118  218
19  119  219
20  120  220
22  122  222
     F1   F2
4   104  204
8   108  208
21  121  221
23  123  223
24  124  224
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Split:
     F1   F2
0   100  200
1   101  201
2   102  202
3   103  203
4   104  204
5   105  205
6   106  206
7   107  207
8   108  208
9   109  209
12  112  212
14  114  214
15  115  215
16  116  216
17  117  217
20  120  220
21  121  221
22  122  222
23  123  223
24  124  224
     F1   F2
10  110  210
11  111  211
13  113  213
18  118  218
19  119  219

In [13]:
# print the contents of each training and testing set
print('{} {:^61} {}'.format('Iteration', 'Training set observations', 'Testing set observations'))
for iteration, data in enumerate(kf, start=1):
    print('{:^9} {} {:^25}'.format(iteration, data[0], str(data[1])))

Iteration                   Training set observations                   Testing set observations
    1     [ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]        [0 1 2 3 4]
    2     [ 0  1  2  3  4 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]        [5 6 7 8 9]
    3     [ 0  1  2  3  4  5  6  7  8  9 15 16 17 18 19 20 21 22 23 24]     [10 11 12 13 14]
    4     [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 20 21 22 23 24]     [15 16 17 18 19]
    5     [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]     [20 21 22 23 24]

In [ ]:
range(0,14)