In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    {
        'days': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        'temperatures': [22, 23, 24, 22, 20, 19, 21]
    }
)
df

  days  temperatures
0  Mon            22
1  Tue            23
2  Wed            24
3  Thu            22
4  Fri            20
5  Sat            19
6  Sun            21

In [9]:
# TASK: replace all '22' with '0'
df.loc[df['temperatures']==22, 'temperatures'] = 0
df

  days  temperatures
0  Mon             0
1  Tue            23
2  Wed            24
3  Thu             0
4  Fri            20
5  Sat            19
6  Sun            21